html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-canvas {
  bottom:0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
}

ul {
  list-style: none;
}

#pano {
  width: 200px;
  height: 200px;
}

.place:hover {
  color: blue;
}

aside {
    height: 100%;  
    position: fixed; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s;
    background-color: white;
    z-index: 1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
}

.filter {
  padding: 20px;
  padding-top: 0px;
}