html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

#map {
  bottom:0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  z-index: -1;
}

.container {
  display: flex;
  height: 100%;
}

ul {
  list-style: none;
}

h2 {
}

#pano {
  width: 200px;
  height: 200px;
}

#wikipedia-links {
  height: 60%;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 350px;
}

#nytimes-articles {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 350px;
}

.sidebar {
  max-width: 350px;
}

.places {
  display: block;
}

.selected {
}

.wiki {
  height: 20%;
}

.nyt {
  height: 20%;
}

.selectedplace {
  padding-left: 40px;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
    background-color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.open {
  position: absolute;
  z-index: 1;
}