html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  bottom:0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
}


ul {
  list-style: none;
}

h3, h2 {
  padding: 10px;
}

#pano {
  width: 200px;
  height: 200px;
}

.sidebar {
  max-width: 350px;
}

.places {
  display: block;
  height: 10%;
  overflow-x: hidden;
  margin: 0px;
}

.place:hover {
  color: blue;
}

.selected {
  padding: 10px;
}

.wiki {
  display: block;
  height: 20%;
}

.nyt {
  display: block;
  height: 20%;
}

.selectedplace {
  padding-left: 40px;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s;
    background-color: white;
    z-index: 1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
}

.open {
  position: absolute;
}

.filter {
  padding: 20px;
  padding-top: 0px;
}